
<ng-container *ngIf="true">
    <div class="container"> 

        <div class="card-table">
         <div class="cart-product">
             <table class="table table-responsive">
                 <thead>
                     <tr>
                         <th>Sr.no</th>
                         <th>Product Name</th>
                         <th>Product Image</th>
                         <th>Description</th>
                         <th>Price</th>
                         <th>Quantity</th>
                         <th>Total</th>
                         <th>Action</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td>1</td>
                         <td>Nb Bat</td>
                         <td>Some Image</td>
                         <td>This is branded cricket bat</td>
                         <td>300$</td>
                         <td>1</td>
                         <td>300$</td>
                         <td>
                             <button class="btn btn-danger"><i class="fas fa-trash-alt"> </i></button>
                         </td>
     
                     </tr>
                 </tbody>
             </table>
         </div>
        </div>
    </div>
</ng-container>







<ng-container *ngIf="false">
    <div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src=" https://falgunifood.com/img/empty-cart.png" alt="">
        <h4>Your Cart is empty</h4>
        <h6>Add item to it now</h6>
        <button class="btn btn-primary">Shop Now</button>
    </div>
</div>
</ng-container>
