<nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid" style="align-items: center; display: flex;">
      <!-- <i style="font-size: 30px;" class="fas fa-shiping-fast"></i> -->
      <i class="fa-sharp fa-solid fa-cricket-bat-ball" style="font-size: 40px;"></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <strong style="color: aliceblue; font-size: xx-large; margin-left: 100px;"> CRICKETMART</strong>
            </li>
            <li class="nav-item" style="font-weight: bold;">
              <a class="nav-link active" aria-current="page" href="#" style="margin-left: 230px; color: aliceblue;">Home</a>
            
          </li>
          <li class="nav-item dropdown" style="font-weight: bold;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:aliceblue">
               Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cricket-Bat</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#">Cricket-Ball</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cricket-Helmet</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cricket-Gloves</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cricket-Shoes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cricket-Pads</a></li>
              <li><hr class="dropdown-divider"></li>

            </ul>
          </li>
          <li class="nav-item" style="font-weight: bold;">
            <a class="nav-link active" aria-current="page"  style="color: aliceblue;" routerLink="/#">Login</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search" style="margin-right: 350px;">
          <input class="form-control me-2" type="search" placeholder="Search For Products" aria-label="Search" style="width:300px; margin-left: 50px;">
          <i class="fas fa-search search-icon" style="display: flex; align-items: center; margin-left: -24px; "></i>
          <button class="btn btn-outline-primary" type="submit" style="font-weight: bold;">Search </button>
          <i style="font-size: 35px; color: aliceblue; margin-left: 250px;" class="fas fa-cart-plus" ></i>
          <!-- <i class="badge bg-danger">$</i> -->
        </form>
      </div>
    </div>
  </nav>

